[submodule "ep-022/pathmenu.js"]
	path = ep-022/pathmenu.js
	url = git://github.com/tonylukasavage/pathmenu.js.git
[submodule "ep-022/path.animator"]
	path = ep-022/path.animator
	url = git://github.com/tonylukasavage/path.animator.git
[submodule "ep-023/TiShadow"]
	path = ep-023/TiShadow
	url = https://github.com/dbankier/TiShadow.git
