<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="UtilityApplication"/>
<stringAttribute key="sdk_version" value="4.3"/>
<stringAttribute key="sim_device" value="iPhone"/>
</launchConfiguration>
